.burgerLine {
  height: 4px;
  transition: transform 0.5s ease-in-out;

  &:nth-child(1) {
    top: 0;
  }

  &:nth-child(2) {
    top: 6px;
  }
}

.burgerCrossLine {
  &:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  &:nth-child(2) {
    transform: translateY(-6px) rotate(-45deg);
  }
}

.menuContainer {
  right: -100%;
  transition: transform 0.5s ease-in-out;
}

.openMenu {
  transform: translateX(-100%);
}
